<ion-view view-title="{{myTitle}}" cache-view="false">
  <ion-content>
    <ion-list>
      <ion-item ng-repeat="item in items">
        <div class="list item" on-tap="selectItem(item)">
          <div class="item item-avatar">
            <img ng-src="img\{{item.item_cat}}.jpg" />
            <h2>{{item.name}}</h2>
            <h4>{{item.item_cat}}</h4>
          </div>
          <div class="item item-divider">
            <h6>created on {{item.created | date: 'dd-MM-yyyy HH:mm'}} by {{item.belongs_to}}</h6>
          </div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
