<ion-view view-title="Details" cache-view="false">
    <ion-content>
        <div class="card">
            <div class="item item-body">
                <img class="full-image" ng-src="img\{{item.item_cat}}.jpg" />
            </div>
            <div class="item item-text-wrap">
                <h3>{{item.name}}</h3>
                <p>
                    <strong>Category: {{item.item_cat}}</strong>
                    <br>
                    {{item.description}}
                </p>
            </div>
        </div>
        <div class="item" ng-show="!ismyitem">
            <button class="button button-block button-outline button-balanced" type="button" ng-click="doOffer()">Offer</button>
        </div>
        <hr>
        <ion-item>
            <h3>Trade offers:</h3>
        </ion-item>
        <ion-list>
            <ion-item ng-repeat="o in offers">
                <div class="list item">
                    <div class="item item-avatar" item-left>
                        <img ng-src="img\{{o.offer_itemcat}}.jpg" />
                        <h2>{{o.offer_itemname}}</h2>
                        <p>{{o.offerby}}</p>
                        <button ng-show="ismyitem" class="button button-small button-balanced text-right" style="text-align:right">Agree</button>
                    </div>
                </div>
            </ion-item>
        </ion-list>
        
    </ion-content>
</ion-view>