<ion-view view-title="Post Item">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Post An Item</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSave()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Item name</span>
                    <input type="text" ng-model="item.name">
                </label>
                <label class="item item-input">
                    <span class="input-label">Description</span>
                    <textarea ng-model="item.description"></textarea>
                </label>
                <label class="item item-input item-select">
                    <span class="input-label">Category</span>
                    <select ng-model="item.item_cat">
                        <option ng-selected="{{cat == item.item_cat}}"
                                ng-repeat="cat in categories"
                                value="{{cat}}">
                                {{cat}}
                        </option>
                    </select>
                </label>
                <label class="item">
                    <span class="input-label">Posted by: {{item.belongs_to}}</span>
                </label>
                <div class="item">
                    <button class="button button-block button-outline button-stable" type="submit">Confirm</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>