<ion-view view-title="Login">
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Login</h1>
  </ion-header-bar>
  <ion-content>
    <form ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="text" ng-model="loginData.username">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="loginData.password">
        </label>
        <div class="item">
          <button class="button button-block button-outline button-stable" type="submit">Log in</button>
          <button class="button button-block button-stable" type="button" ng-click="doRegister()">Register</button>
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
