<ion-view view-title="{{title}}">
    <ion-header-bar class="bar-balanced">
        <h1 class="title">{{title}}</h1>
    </ion-header-bar>
    <ion-content>
        <form ng-submit="doSave()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" ng-model="newuser.username" ng-disabled="!userEnabled">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" ng-model="newuser.password">
                </label>
                <label class="item item-input">
                    <span class="input-label">Full name</span>
                    <input type="text" ng-model="newuser.fullname">
                </label>
                <label class="item item-input">
                    <span class="input-label">Address</span>
                    <input type="text" ng-model="newuser.address">
                </label>
                <label class="item item-input">
                    <span class="input-label">Contact</span>
                    <input type="text" ng-model="newuser.contact">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="text" ng-model="newuser.email">
                </label>
                <label class="item">
                    <span class="input-label">Likes</span>
                    <ul class="list">
                        <li class="item item-checkbox" ng-repeat="cat in categories">
                            {{cat}}
                            <label class="checkbox">
                                <input type="checkbox" ng-true-value="'{{cat}}'" ng-false-value="" ng-model="selected[$index]" ng-change="changeLike()">
                            </label>
                        </li>
                    </ul>
                </label>
                <div class="item">
                    <button class="button button-block button-outline button-stable" type="submit">{{submit}}</button>
                    <button class="button button-block button-stable" type="button" ng-click="back()" ng-show="userEnabled">Back</button>
                </div>
            </div>
        </form>
    </ion-content>
</ion-view>